@charset "UTF-8";
/* CSS Document */

html body{
    background: color #3d3d3d;;
}

.navbar-bg {
  background-color:#f7f0d1!important;

  }

.navbar-brand{
    color: #000000 !important;
    font-weight: 600;
    font-style: bold;
  }

.spectral-regular {
    font-family: "Spectral", serif;
    font-size:1rem;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-regular-italic {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .spectral-bold-italic {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .spectral-bold-h1 {
    font-family: "Spectral", serif;
    font-size: 2.027rem;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
  }

  .spectral-bold-h2 {
    font-family: "Spectral", serif;
    font-size: 1.802rem;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
  }

  .spectral-bold-h3 {
    font-family: "Spectral", serif;
    font-size: 1.602rem;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
  }


  .spectral-bold-h4 {
    font-family: "Spectral", serif;
    font-size: 1.424rem;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
  }

  .spectral-bold-h5 {
    font-family: "Spectral", serif;
    font-size: 1.266rem;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
  }


  .lr-padding {
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
  }

  .heading-margin{
    margin-top: 7vh;
  }

  .heading{
    color:#ffffff!important;
  }

  .margin-card{
    margin-left: 10vw;
    margin-right: 10vw;
  }
 